#header {
  background-color: aqua;
  width: 100%;
  padding: 4px;
  margin-bottom: 15px;
}

@mixin l-flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin l-menu-border {
  border: $menuBorderColor groove 7px;
  border-radius: 18px;
}

.centering-div {
  @include l-flex-column-align-center;
}

@mixin l-flex-row-justify-center {
  display: flex;
  justify-content: center;
}

@mixin l-flex-row-justify-start {
  display: flex;
  justify-content: flex-start;
}

@mixin l-flex-column-align-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@mixin l-flex-column-align-left {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.l-align-self-left {
  align-self: flex-start;
}

.l-align-left {
  align-items: flex-start;
}

$breakpoints: (
  "xs": 320px,
  "sm": 496px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px
);

@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")){
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")){
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, "md")){
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")){
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")){
    @content;
  }
}

// Variable breakpoint with default of 0:
@mixin breakpoint($bp: 0){
  @media (min-width: $bp) {
    @content
  }
}