// $bodyColor: #222da9;
$bodyColor: #b59cf0;
$bigBorderColor: #58c2c6;
$buttonBackground: rgb(194, 202, 201);
$offBlack: rgb(50, 42, 104);
// $textColor: #6b3ee6;
$textColor: #4f18ce;
$buttonText: rgb(57, 50, 50);
$visitedLink: rgb(128, 179, 171);

*,
::after,
::before {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

body {
  min-height: 100vh;
  margin: 0 8px;
  // background-color: $bodyColor;
  background-image: radial-gradient(ellipse at top left, $bodyColor, transparent 100%);
  font-family: "Roboto", sans-serif;
  // font-family:'Lucinda Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  // font-family: 'Rubik', sans-serif;
  color: $textColor;
}

h1,
h2,
h3,
h5 {
  width: max-content;
  margin: 10px auto 15px;
}

#main-nav {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.nav-link-container {
  width: max-content;
  margin: 0 auto;
}

#main-nav .nav-link {
  margin: 0 10px;
}

#main-nav .active {
  background-color: $offBlack;
  border-radius: 7px;
}

.centered-div {
  width: max-content;
  padding: 10px 30px 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: $bigBorderColor groove 7px;
  border-radius: 18px;

  a:visited {
    color: $visitedLink;
  }

  input {
    margin: 6px 0;
  }

  label {
    margin: 8px 0;
  }

  .puzzle-select-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

p {
  margin: 0;
}

.puzzle-select-div {
  margin: 10px 0;
}

#lets-play {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  height: 55px;
  padding: 12px;
  margin-bottom: 40px;
  font-style: italic;
  font-weight: 500;
}

#house-img {
  display: block;
  width: max-content;
  margin: 0 auto;
  border-radius: 4px;
}

button {
  margin: 6px 10px;
  background-color: $buttonBackground;
  color: $buttonText;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.button-container {
  width: max-content;
  margin: 15px auto;
  font-family: "Roboto", sans-serif;
}

@import "./modules/puzzle.scss";
@import "./modules/userNavbar.scss";
