$bodyColor: #222da9;
$bigBorderColor: #58c2c6;
$innerBorderColor: #e985a6;
$squareBackground: rgb(52, 64, 160);
$buttonBackground: rgb(128, 179, 171);
$offBlack: rgb(50, 42, 104);
$numberColor:#8eb5f5;
$textColor: rgb(236, 213, 130);
$buttonText: rgb(57, 50, 50);
$duplicateNumber: rgb(204, 69, 69);

body {
  background-color: $bodyColor;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: $textColor;
}

h1, h5, .button-container{
  width: max-content;
  margin: 15px auto;
}

#lets-play{
  font-size: 40px;
  margin-bottom: 40px;
}

#house-img {
  display: block;
  width: max-content;
  margin: 0 auto;
} 

#main-nav {
  width:max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.nav-link {
  color: $numberColor;
  margin: 0 10px;
  padding: 15px;
}

#main-nav .active {
  background-color: $offBlack;
  border-radius: 7px;
}

button {
  margin: 0 10px;
  background-color: $buttonBackground;
  color: $buttonText;
  border-radius: 5px;
}

#puzzle-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  border: $bigBorderColor solid 2px;
  width: 500px;
  height: 500px;
  margin: 30px auto;
  border-radius: 1px;

}

.box-unit-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  border: $bigBorderColor solid 1px;
}

.square-container {
  background-color: $squareBackground;
  border: $innerBorderColor dotted 1px;
}

*:disabled{
color: inherit;
}

.value-display {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  color: $numberColor;
  // color: $bodyColor;
}

.duplicate-number {
  color: $duplicateNumber;
}
