// .side-bar-container {
//   // box-shadow: 0 0 5px red;
// }

.side-bar-button {
  padding: 2px 4px;
  margin: 6px 10px;
  width: 32px;
  height: 32px;
  // border-radius: 10px;
  // border: 2px solid rgb(144, 138, 138);

  img {
    height: 24px;
    width: 24px;
    margin-left: -2px;
  }
}

.side-bar {
  position: absolute;
  margin-top: 4px;
  right: $sideSpaceMargin;
  max-height: max-content;
  overflow: hidden;
  background-color: $buttonBackground;
  border-radius: 5px;
}

.side-bar-section-container {
  @include l-flex-column-align-right;
}

.side-bar-section {
  @include l-flex-column-align-right;
  max-height: 400px;
  transition: all 0.75s ease-in-out;
  overflow: hidden;

  &__nav-link {
    color: $numberColor;
    padding: 4px 5px;

    &.active {
      background-color: $nav-link-background;
      border-radius: 5px;
    }
  }

  &__detail {
    color: $numberColor;
    padding: 4px 5px;

    input {
      vertical-align: middle;
      margin: 0 0 0 7px;
    }
  }

  ul {
    margin: 0;
    padding: 0px 0px 0px 30px;
  }

  li {
    padding: 2px 0px;
    color: $numberColor;
  }
}
